.bg-color {
  &-black {
    background-color: black
  }
  &-navy {
    background-color: navy
  }
  &-darkblue {
    background-color: darkblue
  }
  &-mediumblue {
    background-color: mediumblue
  }
  &-blue {
    background-color: blue
  }
  &-darkgreen {
    background-color: darkgreen
  }
  &-green {
    background-color: green
  }
  &-teal {
    background-color: teal
  }
  &-darkcyan {
    background-color: darkcyan
  }
  &-deepskyblue {
    background-color: deepskyblue
  }
  &-darkturquoise {
    background-color: darkturquoise
  }
  &-mediumspringgreen {
    background-color: mediumspringgreen
  }
  &-lime {
    background-color: lime
  }
  &-springgreen {
    background-color: springgreen
  }
  &-aqua {
    background-color: aqua
  }
  &-cyan {
    background-color: cyan
  }
  &-midnightblue {
    background-color: midnightblue
  }
  &-dodgerblue {
    background-color: dodgerblue
  }
  &-lightseagreen {
    background-color: lightseagreen
  }
  &-forestgreen {
    background-color: forestgreen
  }
  &-seagreen {
    background-color: seagreen
  }
  &-darkslategray {
    background-color: darkslategray
  }
  &-limegreen {
    background-color: limegreen
  }
  &-mediumseagreen {
    background-color: mediumseagreen
  }
  &-turquoise {
    background-color: turquoise
  }
  &-royalblue {
    background-color: royalblue
  }
  &-steelblue {
    background-color: steelblue
  }
  &-darkslateblue {
    background-color: darkslateblue
  }
  &-mediumturquoise {
    background-color: mediumturquoise
  }
  &-indigo {
    background-color: indigo
  }
  &-darkolivegreen {
    background-color: darkolivegreen
  }
  &-cadetblue {
    background-color: cadetblue
  }
  &-cornflowerblue {
    background-color: cornflowerblue
  }
  &-mediumaquamarine {
    background-color: mediumaquamarine
  }
  &-dimgray {
    background-color: dimgray
  }
  &-dimgrey {
    background-color: dimgrey
  }
  &-slateblue {
    background-color: slateblue
  }
  &-olivedrab {
    background-color: olivedrab
  }
  &-slategray {
    background-color: slategray
  }
  &-lightslategray {
    background-color: lightslategray
  }
  &-mediumslateblue {
    background-color: mediumslateblue
  }
  &-lawngreen {
    background-color: lawngreen
  }
  &-chartreuse {
    background-color: chartreuse
  }
  &-aquamarine {
    background-color: aquamarine
  }
  &-maroon {
    background-color: maroon
  }
  &-purple {
    background-color: purple
  }
  &-olive {
    background-color: olive
  }
  &-gray {
    background-color: gray
  }
  &-skyblue {
    background-color: skyblue
  }
  &-lightskyblue {
    background-color: lightskyblue
  }
  &-blueviolet {
    background-color: blueviolet
  }
  &-darkred {
    background-color: darkred
  }
  &-darkmagenta {
    background-color: darkmagenta
  }
  &-saddlebrown {
    background-color: saddlebrown
  }
  &-darkseagreen {
    background-color: darkseagreen
  }
  &-lightgreen {
    background-color: lightgreen
  }
  &-mediumpurple {
    background-color: mediumpurple
  }
  &-darkviolet {
    background-color: darkviolet
  }
  &-palegreen {
    background-color: palegreen
  }
  &-darkorchid {
    background-color: darkorchid
  }
  &-yellowgreen {
    background-color: yellowgreen
  }
  &-sienna {
    background-color: sienna
  }
  &-brown {
    background-color: brown
  }
  &-darkgray {
    background-color: darkgray
  }
  &-lightblue {
    background-color: lightblue
  }
  &-greenyellow {
    background-color: greenyellow
  }
  &-paleturquoise {
    background-color: paleturquoise
  }
  &-lightsteelblue {
    background-color: lightsteelblue
  }
  &-powderblue {
    background-color: powderblue
  }
  &-firebrick {
    background-color: firebrick
  }
  &-darkgoldenrod {
    background-color: darkgoldenrod
  }
  &-mediumorchid {
    background-color: mediumorchid
  }
  &-rosybrown {
    background-color: rosybrown
  }
  &-darkkhaki {
    background-color: darkkhaki
  }
  &-silver {
    background-color: silver
  }
  &-mediumvioletred {
    background-color: mediumvioletred
  }
  &-indianred {
    background-color: indianred
  }
  &-peru {
    background-color: peru
  }
  &-chocolate {
    background-color: chocolate
  }
  &-tan {
    background-color: tan
  }
  &-lightgray {
    background-color: lightgray
  }
  &-thistle {
    background-color: thistle
  }
  &-orchid {
    background-color: orchid
  }
  &-goldenrod {
    background-color: goldenrod
  }
  &-palevioletred {
    background-color: palevioletred
  }
  &-crimson {
    background-color: crimson
  }
  &-gainsboro {
    background-color: gainsboro
  }
  &-plum {
    background-color: plum
  }
  &-burlywood {
    background-color: burlywood
  }
  &-lightcyan {
    background-color: lightcyan
  }
  &-lavender {
    background-color: lavender
  }
  &-darksalmon {
    background-color: darksalmon
  }
  &-violet {
    background-color: violet
  }
  &-palegoldenrod {
    background-color: palegoldenrod
  }
  &-lightcoral {
    background-color: lightcoral
  }
  &-khaki {
    background-color: khaki
  }
  &-aliceblue {
    background-color: aliceblue
  }
  &-honeydew {
    background-color: honeydew
  }
  &-azure {
    background-color: azure
  }
  &-sandybrown {
    background-color: sandybrown
  }
  &-wheat {
    background-color: wheat
  }
  &-beige {
    background-color: beige
  }
  &-whitesmoke {
    background-color: whitesmoke
  }
  &-mintcream {
    background-color: mintcream
  }
  &-ghostwhite {
    background-color: ghostwhite
  }
  &-salmon {
    background-color: salmon
  }
  &-antiquewhite {
    background-color: antiquewhite
  }
  &-linen {
    background-color: linen
  }
  &-lightgoldenrodyellow {
    background-color: lightgoldenrodyellow
  }
  &-oldlace {
    background-color: oldlace
  }
  &-red {
    background-color: red
  }
  &-fuchsia {
    background-color: fuchsia
  }
  &-magenta {
    background-color: magenta
  }
  &-deeppink {
    background-color: deeppink
  }
  &-orangered {
    background-color: orangered
  }
  &-tomato {
    background-color: tomato
  }
  &-hotpink {
    background-color: hotpink
  }
  &-coral {
    background-color: coral
  }
  &-darkorange {
    background-color: darkorange
  }
  &-lightsalmon {
    background-color: lightsalmon
  }
  &-orange {
    background-color: orange
  }
  &-lightpink {
    background-color: lightpink
  }
  &-pink {
    background-color: pink
  }
  &-gold {
    background-color: gold
  }
  &-peachpuff {
    background-color: peachpuff
  }
  &-navajowhite {
    background-color: navajowhite
  }
  &-moccasin {
    background-color: moccasin
  }
  &-bisque {
    background-color: bisque
  }
  &-mistyrose {
    background-color: mistyrose
  }
  &-blanchedalmond {
    background-color: blanchedalmond
  }
  &-papayawhip {
    background-color: papayawhip
  }
  &-lavenderblush {
    background-color: lavenderblush
  }
  &-seashell {
    background-color: seashell
  }
  &-cornsilk {
    background-color: cornsilk
  }
  &-lemonchiffon {
    background-color: lemonchiffon
  }
  &-floralwhite {
    background-color: floralwhite
  }
  &-snow {
    background-color: snow
  }
  &-yellow {
    background-color: yellow
  }
  &-lightyellow {
    background-color: lightyellow
  }
  &-ivory {
    background-color: ivory
  }
  &-white {
    background-color: white
  }
}

.text-color {
  &-black {
    color: black
  }
  &-navy {
    color: navy
  }
  &-darkblue {
    color: darkblue
  }
  &-mediumblue {
    color: mediumblue
  }
  &-blue {
    color: blue
  }
  &-darkgreen {
    color: darkgreen
  }
  &-green {
    color: green
  }
  &-teal {
    color: teal
  }
  &-darkcyan {
    color: darkcyan
  }
  &-deepskyblue {
    color: deepskyblue
  }
  &-darkturquoise {
    color: darkturquoise
  }
  &-mediumspringgreen {
    color: mediumspringgreen
  }
  &-lime {
    color: lime
  }
  &-springgreen {
    color: springgreen
  }
  &-aqua {
    color: aqua
  }
  &-cyan {
    color: cyan
  }
  &-midnightblue {
    color: midnightblue
  }
  &-dodgerblue {
    color: dodgerblue
  }
  &-lightseagreen {
    color: lightseagreen
  }
  &-forestgreen {
    color: forestgreen
  }
  &-seagreen {
    color: seagreen
  }
  &-darkslategray {
    color: darkslategray
  }
  &-limegreen {
    color: limegreen
  }
  &-mediumseagreen {
    color: mediumseagreen
  }
  &-turquoise {
    color: turquoise
  }
  &-royalblue {
    color: royalblue
  }
  &-steelblue {
    color: steelblue
  }
  &-darkslateblue {
    color: darkslateblue
  }
  &-mediumturquoise {
    color: mediumturquoise
  }
  &-indigo {
    color: indigo
  }
  &-darkolivegreen {
    color: darkolivegreen
  }
  &-cadetblue {
    color: cadetblue
  }
  &-cornflowerblue {
    color: cornflowerblue
  }
  &-mediumaquamarine {
    color: mediumaquamarine
  }
  &-dimgray {
    color: dimgray
  }
  &-dimgrey {
    color: dimgrey
  }
  &-slateblue {
    color: slateblue
  }
  &-olivedrab {
    color: olivedrab
  }
  &-slategray {
    color: slategray
  }
  &-lightslategray {
    color: lightslategray
  }
  &-mediumslateblue {
    color: mediumslateblue
  }
  &-lawngreen {
    color: lawngreen
  }
  &-chartreuse {
    color: chartreuse
  }
  &-aquamarine {
    color: aquamarine
  }
  &-maroon {
    color: maroon
  }
  &-purple {
    color: purple
  }
  &-olive {
    color: olive
  }
  &-gray {
    color: gray
  }
  &-skyblue {
    color: skyblue
  }
  &-lightskyblue {
    color: lightskyblue
  }
  &-blueviolet {
    color: blueviolet
  }
  &-darkred {
    color: darkred
  }
  &-darkmagenta {
    color: darkmagenta
  }
  &-saddlebrown {
    color: saddlebrown
  }
  &-darkseagreen {
    color: darkseagreen
  }
  &-lightgreen {
    color: lightgreen
  }
  &-mediumpurple {
    color: mediumpurple
  }
  &-darkviolet {
    color: darkviolet
  }
  &-palegreen {
    color: palegreen
  }
  &-darkorchid {
    color: darkorchid
  }
  &-yellowgreen {
    color: yellowgreen
  }
  &-sienna {
    color: sienna
  }
  &-brown {
    color: brown
  }
  &-darkgray {
    color: darkgray
  }
  &-lightblue {
    color: lightblue
  }
  &-greenyellow {
    color: greenyellow
  }
  &-paleturquoise {
    color: paleturquoise
  }
  &-lightsteelblue {
    color: lightsteelblue
  }
  &-powderblue {
    color: powderblue
  }
  &-firebrick {
    color: firebrick
  }
  &-darkgoldenrod {
    color: darkgoldenrod
  }
  &-mediumorchid {
    color: mediumorchid
  }
  &-rosybrown {
    color: rosybrown
  }
  &-darkkhaki {
    color: darkkhaki
  }
  &-silver {
    color: silver
  }
  &-mediumvioletred {
    color: mediumvioletred
  }
  &-indianred {
    color: indianred
  }
  &-peru {
    color: peru
  }
  &-chocolate {
    color: chocolate
  }
  &-tan {
    color: tan
  }
  &-lightgray {
    color: lightgray
  }
  &-thistle {
    color: thistle
  }
  &-orchid {
    color: orchid
  }
  &-goldenrod {
    color: goldenrod
  }
  &-palevioletred {
    color: palevioletred
  }
  &-crimson {
    color: crimson
  }
  &-gainsboro {
    color: gainsboro
  }
  &-plum {
    color: plum
  }
  &-burlywood {
    color: burlywood
  }
  &-lightcyan {
    color: lightcyan
  }
  &-lavender {
    color: lavender
  }
  &-darksalmon {
    color: darksalmon
  }
  &-violet {
    color: violet
  }
  &-palegoldenrod {
    color: palegoldenrod
  }
  &-lightcoral {
    color: lightcoral
  }
  &-khaki {
    color: khaki
  }
  &-aliceblue {
    color: aliceblue
  }
  &-honeydew {
    color: honeydew
  }
  &-azure {
    color: azure
  }
  &-sandybrown {
    color: sandybrown
  }
  &-wheat {
    color: wheat
  }
  &-beige {
    color: beige
  }
  &-whitesmoke {
    color: whitesmoke
  }
  &-mintcream {
    color: mintcream
  }
  &-ghostwhite {
    color: ghostwhite
  }
  &-salmon {
    color: salmon
  }
  &-antiquewhite {
    color: antiquewhite
  }
  &-linen {
    color: linen
  }
  &-lightgoldenrodyellow {
    color: lightgoldenrodyellow
  }
  &-oldlace {
    color: oldlace
  }
  &-red {
    color: red
  }
  &-fuchsia {
    color: fuchsia
  }
  &-magenta {
    color: magenta
  }
  &-deeppink {
    color: deeppink
  }
  &-orangered {
    color: orangered
  }
  &-tomato {
    color: tomato
  }
  &-hotpink {
    color: hotpink
  }
  &-coral {
    color: coral
  }
  &-darkorange {
    color: darkorange
  }
  &-lightsalmon {
    color: lightsalmon
  }
  &-orange {
    color: orange
  }
  &-lightpink {
    color: lightpink
  }
  &-pink {
    color: pink
  }
  &-gold {
    color: gold
  }
  &-peachpuff {
    color: peachpuff
  }
  &-navajowhite {
    color: navajowhite
  }
  &-moccasin {
    color: moccasin
  }
  &-bisque {
    color: bisque
  }
  &-mistyrose {
    color: mistyrose
  }
  &-blanchedalmond {
    color: blanchedalmond
  }
  &-papayawhip {
    color: papayawhip
  }
  &-lavenderblush {
    color: lavenderblush
  }
  &-seashell {
    color: seashell
  }
  &-cornsilk {
    color: cornsilk
  }
  &-lemonchiffon {
    color: lemonchiffon
  }
  &-floralwhite {
    color: floralwhite
  }
  &-snow {
    color: snow
  }
  &-yellow {
    color: yellow
  }
  &-lightyellow {
    color: lightyellow
  }
  &-ivory {
    color: ivory
  }
  &-white {
    color: white
  }
}
